addict==2.4.0
albumentations==1.1.0
alembic==1.4.1
appdirs==1.4.4
attrs==21.4.0
audioread==2.1.9
autopep8==1.6.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.15.0
cfgv==3.3.1
chardet==4.0.0
chumpy==0.70
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
commonmark==0.9.1
coverage==6.3.1
cycler==0.10.0
Cython==0.29.23
databricks-cli==0.14.3
decorator==4.4.2
decord==0.4.1
defusedxml==0.7.1
distlib==0.3.4
docker==5.0.0
einops==0.3.0
entrypoints==0.3
ez-setup==0.9
ffmpeg-python==0.2.0
filelock==3.4.2
flake8==4.0.1
flake8-import-order==0.18.1
Flask==2.0.0
flatbuffers==2.0
freetype-py==2.2.0
future==0.18.2
gitdb==4.0.7
GitPython==3.1.17
greenlet==1.1.0
gunicorn==20.1.0
identify==2.4.4
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
importlib-metadata==4.8.2
iniconfig==1.1.1
interrogate==1.5.0
isort==4.3.21
itsdangerous==2.0.0
Jinja2==3.0.0
joblib==1.1.0
json-tricks==3.15.5
kiwisolver==1.3.1
librosa==0.8.1
llvmlite==0.38.0
lws==1.2.7
Mako==1.1.4
Markdown==3.3.6
MarkupSafe==2.0.0
matplotlib==3.4.2
mccabe==0.6.1
mlflow==1.17.0
-e git+ssh://git@github.com/open-mmlab/mmaction2.git@255bbc08634c21e6400af7b9d1a470b52285ebcd#egg=mmaction2
mmcv-full==1.3.18
mmdet==2.12.0
-e git+https://github.com/open-mmlab/mmpose.git@5c8ba2657b26ee9487451c45ba794823fa607cfd#egg=mmpose
model-index==0.1.11
motmetrics==1.2.0
moviepy==1.0.3
munkres==1.1.4
networkx==2.6.3
nodeenv==1.6.0
numba==0.55.0
numpy==1.20.2
odfpy==1.4.1
onnx==1.10.2
onnxruntime==1.10.0
opencv-contrib-python==4.5.4.60
opencv-python==4.5.4.60
opencv-python-headless==4.5.5.62
openmim==0.1.5
ordered-set==4.0.2
packaging==21.3
pandas==1.1.5
Pillow==8.2.0
platformdirs==2.4.1
pluggy==1.0.0
pooch==1.6.0
poseval==0.1.0
pre-commit==2.17.0
proglog==0.1.9
prometheus-client==0.10.1
prometheus-flask-exporter==0.18.2
protobuf==3.17.0
py==1.11.0
py-cpuinfo==8.0.0
pycocotools==2.0.2
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
pyglet==1.5.21
Pygments==2.10.0
pyloudnorm==0.1.0
PyOpenGL==3.1.0
pyparsing==2.4.7
pyrender==0.1.45
pytest==7.0.0
pytest-benchmark==3.4.1
pytest-runner==5.3.1
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
PyWavelets==1.2.0
PyYAML==5.4.1
qudida==0.0.4
querystring-parser==1.2.4
requests==2.25.1
resampy==0.2.2
rich==10.9.0
scenedetect==0.5.6.1
schedule==1.1.0
scikit-image==0.19.1
scikit-learn==1.0.2
scipy==1.6.3
seaborn==0.11.1
Shapely==1.8.0
six==1.16.0
smmap==4.0.0
smplx==0.1.28
SoundFile==0.10.3.post1
soupsieve==2.2.1
SQLAlchemy==1.4.15
sqlparse==0.4.1
tabulate==0.8.9
terminaltables==3.1.0
threadpoolctl==3.0.0
tifffile==2022.2.2
toml==0.10.2
tomli==2.0.1
torch==1.10.0+cu113
torchaudio==0.10.0+cu113
torchvision==0.11.1+cu113
tqdm==4.60.0
trimesh==3.10.0
typing-extensions==3.10.0.0
urllib3==1.26.4
vidaug==0.1
virtualenv==20.13.0
webcolors==1.11.1
websocket-client==0.59.0
Werkzeug==2.0.0
xdoctest==0.15.10
xmltodict==0.12.0
xtcocotools==1.10
yapf==0.31.0
zipp==3.4.1
